ANTHROPIC_API_KEY=
TREVOR_AGENT_ID=agent_011CapZ7pdHqxQFsuDhvAaau
TREVOR_ENVIRONMENT_ID=env_014y7pEJd2vJ8kDaR1mFcB2i
TREVOR_REPO_URL=https://github.com/david-tiny-machines/trevor-tests

# Slack integration
SLACK_BOT_TOKEN=xoxb-...
SLACK_SIGNING_SECRET=
